.hide {
    display: none !important;
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: currentColor;
}
button {
    padding: 0;
    border: none;
    cursor: pointer;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: transparent;
    border: none;
    line-height: 1.5;
}

.is-open {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .container {
    max-width: 768px;
}
}

@media screen and (min-width: 1158px) {
    .container {
  max-width: 1158px;
  padding: 0 15px;
}

.section {
    padding: 120px 0;
}
}