.footer {
  padding: 96px 0;
  background: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 72px;
}

.footer-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  max-width: 288px;
  width: 100%;
}

.footer-logo {
  display: inline-block;
}
.footer-accent {
  color: #f4f4fd;
}

.footer-desc {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  width: 100%;
}

.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 208px;
}

.footer-socials-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-social-list {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: #31d0aa;
}
.footer-social-icon {
  color: #f4f4fd;
}

.footer-subscribe {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-subscribe-form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.footer-subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 288px;
  height: 40px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-input::placeholder {
  color: #fff;
  opacity: 1;
}
.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
  border-color: #31d0aa;
}

.footer-subscribe-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  padding: 8px 24px;
  width: 165px;

  background: #4d5ae5;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
}
.footer-subscribe-button-icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-container {
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    gap: 72px 24px;
    padding: 0 108px;
  }
  .footer-left {
    align-items: flex-start;
    justify-content: flex-start;

    max-width: 264px;
    width: 100%;
  }

  .footer-socials {
    align-items: flex-start;
  }
  .footer-subscribe {
    align-items: flex-start;
    justify-content: center;
  }
  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    padding: 0 15px;
    gap: 120px;
    flex-wrap: nowrap;
  }
  .footer-socials {
    justify-content: flex-start;
  }
  .footer-subscribe {
    margin-left: auto;
  }
  .footer-desc {
    width: 264px;
  }
}
