.footer {
    
    padding: 100px 0;
    background: #2e2f42;
}

.footer-left{
    margin-right: 120px;
}
.footer-logo{
    
    display: inline-block;
    margin-bottom: 16px;
}
.footer-accent {
    color: #f4f4fd;
}
.footer-desc {
    max-width: 264px;
    color: #f4f4fd;
}
/* Social */
.footer-container{
    display: flex;
    align-items: flex-start;
    padding: 0 15px;
}
.footer-socials-title{
    margin-bottom: 16px;
    font-weight: 500;
    color: #fff;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: #31d0aa;
}
.footer-social-icon {
  color: #f4f4fd;
}





.footer-subscribe {
    margin-left: auto;
}
.footer-subscribe-title {
    font-weight: 500;
    color: #fff;

    margin-bottom: 16px;
}
.footer-subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer-subscribe-input {
  box-sizing: border-box;
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-input::placeholder{
    color: #fff;
    opacity: 1;
}
.footer-subscribe-input:hover,
.footer-subscribe-input:focus{
    border-color: #31d0aa;
}
.footer-subscribe-button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 8px 24px;
    width: 165px;
    
    background: #4d5ae5;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #31d0aa;
}
.footer-subscribe-button-icon {
    fill: currentColor;
}