.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 408px;
  max-height: 582px;
  padding: 72px 24px 24px;

  border-radius: 4px;
  overflow-y: auto;

  background-color: #fcfcfc;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;

  background-color: #e7e9fc;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
}

.modal-btn:hover .modal-btn-close,
.modal-btn:focus .modal-btn-close {
  color: #fff;
}

.modal-title {
  font-weight: 500;
  text-align: center;

  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
}

.modal-form-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.modal-form-input-wrapper {
  position: relative;

  width: 100%;
  height: 40px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;

  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  width: 18px;
  height: 24px;

  color: #2e2f42;

  transform: translateY(-50%);
  pointer-events: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input-wrapper:hover .modal-form-input,
.modal-form-input-wrapper:focus-within .modal-form-input {
  border-color: #4d5ae5;
}

.modal-form-input-wrapper:hover .modal-form-input-icon,
.modal-form-input-wrapper:focus-within .modal-form-input-icon {
  color: #4d5ae5;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;

  background-color: transparent;

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-textarea:hover,
.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-checkbox {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

.modal-form-policy {
  position: relative;

  margin-top: 8px;
}

.modal-form-policy-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal-form-checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  color: transparent;
  background-color: transparent;

  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-label:hover .modal-form-checkbox-icon,
.modal-form-checkbox:focus
  + .modal-form-policy-label
  .modal-form-checkbox-icon {
  border-color: #4d5ae5;
}

.modal-form-checkbox:checked
  + .modal-form-policy-label
  .modal-form-checkbox-icon {
  border-color: #404bbf;
  color: #f4f4fd;
  background-color: #404bbf;
}

.modal-form-policy-text {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.modal-form-policy-link {
  line-height: 1.33333;

  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-policy-link:hover,
.modal-form-policy-link:focus {
  color: #404bbf;
}

.modal-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;

  width: 169px;
  height: 56px;
  padding: 16px 32px;

  border: none;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #fff;
  background-color: #4d5ae5;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #404bbf;
}